* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.header {
    line-height: 100px;
    background-color: white;
}

.logo {
    height: 80px;
    vertical-align: middle;
}

.main-title {
    display: inline;
    vertical-align: middle;
}