* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.header {
    line-height: 100px;
    background-color: white;
}

.logo {
    height: 80px;
    vertical-align: middle;
}

.main-title {
    display: inline;
    vertical-align: middle;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
}

.card-header {
    height: 50px;
    border-bottom: 2px solid lightgrey;
    padding-left: 30px;

}

button {
    border: 1px solid lightgray;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    color: lightgrey;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background: lightskyblue;
    color: white;
    border: 1px solid lightblue;

}

section {
    margin: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
    line-height: 20px;
}

.check {
    display: inline-block;
    border-radius: 50%;
    color: greenyellow;
    border: 1px solid greenyellow;
    height: 20px;
    width: 20px;
    text-align: center;

}

.cross {
    display: inline-block;
    border-radius: 50%;
    color: red;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    text-align: center;
}

.badge {
    display: inline-block;
    border-radius: 20px;
    padding: 4px 8px;
    color: white;
}

.blu {
    background-color: lightskyblue;
}

.purple {
    background-color: blueviolet;
}

.emerald {
    background-color: green;
}

.orange {
    background-color: orange;
}

.rose {
    background-color: rgb(227, 102, 217);
}

.green {
    background-color: greenyellow;
}